body {
    background-color: #daf0acce;
 }
header {
    background-color: #a3e8be;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img {
    display: block;
    margin: 0 auto;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px; 
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: #000;
}